/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/fondogreen.jpg") no-repeat top;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro semi-transparente */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

header {
    background-color: #000;
    color: #4caf50;
    text-align: center;
    padding: 20px 0;
}

.logo {
    text-align: left;
    margin: 10px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

h1 {
    font-size: 36px;
    color: #4caf50; /* Título en verde */
}

section {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #4caf50; /* Título en verde */
    margin-top: 0;
}

p {
    color: #fff; /* Texto blanco */
}

a {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #f75a00;
}

/* Estilos para el carrusel de imágenes */
.image-slider {
    text-align: center; /* Centrar las imágenes horizontalmente */
}
