body {
    font-family: Arial, sans-serif;
    background-color: black; /* Change background color to black */
    color: white; /* Change font color to white */
    margin: 0;
    padding: 0;
}

header {
    background-color: #329c52;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.banner {
    background-color: #555555;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    animation: fadeIn 1s ease;
}

.encuestas, .recompensas {
    margin-bottom: 30px;
}

.encuesta, .recompensa {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease;
}

.encuesta h3, .recompensa h3 {
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-card {
    background-color: #020202;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.image-card:hover {
    transform: translateY(-5px);
}

.image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-card h3 {
    color: #333;
    margin-top: 10px;
}

.image-card p {
    color: #fffcfc;
}

.banner {
    animation: slideIn 1s ease-in-out infinite alternate;
}

@keyframes slideIn {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}