/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Fondo negro para la pantalla principal */
    color: #4caf50; /* Color de texto verde */
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header h1 {
    margin: 0;
}

/* Botón de menú */
.menu-button {
    background-color: #4caf50; /* Color de fondo verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.profile-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: #ccc;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Menú de navegación */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
